---
import Layout from '../layouts/Layout.astro'
import Container from '../components/Container.astro'
import { HOME, SITE } from '../consts'
---

<Layout title={SITE.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <section>
      <h1
        class="w-full text-start text-[min(12vw,72px)] leading-[0.9] font-medium tracking-[-2px] sm:tracking-[-4px]">
        {SITE.NAME} <br />
        <span class="text-gray-500">
          {SITE.TITLE}
        </span>
      </h1>
      <p class="mt-6 text-xl max-w-2xl">
        {HOME.DESCRIPTION}
      </p>
    </section>
  </Container>
</Layout>
